/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
}

#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
    background-color: orange;
    color: #fff;
}

.shopping-cart{
    padding: 1rem 0;
}
.box-message{
    position: fixed;
    z-index:100;
    right: 0px;
    margin: 10px 10px 10px 10px;
}
